/* Container */

.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #e5e2e2;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* Body */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
    color: hwb(0 11% 54%);
}

h1, h3 {
    color: #4a90e2;
}


form {
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 82%);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #4a4848;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #357ab8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c0392b;
}

#sortSelect {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}
